.container {
  height: 100%;
  width: 1000%;
  background-image: url(./public/dots-bg.jpg)
}

.title {
  color: darkslateblue;
  margin-top: 5px;
}

.searchBar {
  margin: 20px;
  text-align: center
}

.searchBar input{
  width: 75%;
}

.media-object{
  max-block-size: 10em;
}


.video-item img{
  max-width: 64px;
}

.video-detail .details{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid deeppink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 4px;
  max-width: 50em
}

.embeembed-esponsive {
  max-width: 75%;
  text-align: center;
}

.list-group {
  padding-bottom: 1.5em;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: orangered; 
}


/*.container {
  background-color: lightslategray;
}*/

/*.searchBar {
  align-items: center;
}*/
